/*--------------------------------------------------------------------------------*/

/*
Author: Tabilas, Ernest Henley L.
Student number: 2021-10658
Section: UV-4L
Date created: 03-02-23, 11:10
FIC: Prof. Carl Angcana

Exercise 01: Git + HTML & CSS

Program description:
This is a program that simply introduces myself alongside some trivial information
such as preferences, hobby, etc., through which are done utilizing an HTML file, a
CSS file and git. Multiple branches are created to isolate various sections of my
personal information which showcases our understanding in our first week in CMSC 100:
Introduction to git.
*/

/*--------------------------------------------------------------------------------*/

/*Base CSS file*/
/*Body styles*/
body {
    /*Background image from the internet (all non-original materials are rightfully credited to the respectful owners)*/
    background-image: url('https://u7.uidownload.com/vector/854/294/vector-yellow-abstract-background-ai.jpg');
    /*Setting the background image to be strecthed*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    /*Body text adjusments*/
    margin: 0; 
    text-align: center;
    font-family: sans-serif;
    font-weight: 200;
    font-size: large;
}

/*--------------------------------------------------------------------------------*/

/*End*/